QTabWidget::pane {
    border: 1px solid rgb(24, 36, 31);
    top:-1px;
    background: rgb(245, 245, 245);
}

QTabWidget::tab-bar {
   background: red;
   alignment: left;
}

QTabBar::tab {
    background: rgb(33, 37, 43);
    border: 1px solid rgb(24, 36, 31);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #6c7079;
    width: 100px;
}

QTabBar::tab:selected {
    background: rgb(40, 44, 52);
    border-left: 2px solid rgb(82, 139, 255);
    margin-bottom: -1px;
    color: white;
}

QTabBar::close-button {
    image: url(":/images/close.png");
    subcontrol-position: right;
}

QTabBar::close-button:hover {
    image: url(":/images/close.png");
    background: rgb(82, 139, 255);
}
